#login-buttons{
  position: fixed;
  top: .5em;
  right: .5em;
}
#login-dropdown-list{
  position: relative;
  top: -4px;
  margin: .5em;
}
.aNav{
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 black;
  border-radius: 3px;
  padding: .2em;
  text-decoration: none;
  border: 1px solid black;
  margin: 1px;

}
header{
  margin-bottom: 1em;
}
