.obj, .imgPreexistent {
  max-width:  100px;
  box-shadow: 0 3px 3px;
  display: block;
  margin: 0 auto;
}

.divArx, .imgPreexistent {
  display: inline-block;
  margin: .2em;
  max-width: 100px;
}

progress {
  vertical-align: middle;
  max-height: 3px;
  max-width: 100px;
}

progress::-moz-progress-bar {
    background: lime;
}

progress::-webkit-progress-value {
    background: lime;
}
