input, 
textarea {
  display: block;
}

.btAddNew, .btPrintList {
  flex-grow: 2;
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 black;
  border-radius: 3px;
  padding: .2em;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 .3em;
  padding: 1em;
  text-align: center;
  transform: skewX(-12deg);
}
