// button {
// //  padding: 1em;
//   border: 1px solid grey;
//   width: 2em;
//   height: 2em;
//   background: white;
//   color: lime;
//   font-weight: bold;
//   font-size: 1.5em;
// }
// .square {
//     background: #fff;
//     border: 1px solid #999;
//     float: left;
//     font-size: 24px;
//     font-weight: bold;
//     line-height: 34px;
//     height: 34px;
//     margin-right: -1px;
//     margin-top: -1px;
//     padding: 0;
//     text-align: center;
//     width: 34px;
// }
// .game-info {
//     margin-left: 20px;
// }


      body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.activeMove {
  font-weight: bold;
}
